/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*******************************************
 modals
 *******************************************/


body {
  font-family: 'Montserrat', sans-serif;
}

.dummy-logout {
  background-color: #7f00ff;
  border: 0;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  color: white;
  margin: 15px 0;
  padding: 0 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}

.purple-bar {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0px;
  background-color: #7f00ff;
}

.auth-modal-wrapper {
  background: whitesmoke;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.auth-logo {
  background-image: url(purplenote_icon.png);
  background-size: cover;
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.auth-modal-wrapper h1 {
  margin-bottom: 35px;
  font-size: 32px;
  font-family: 'Arvo', serif;
  color: #8f8f8f;
}

.auth-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 390px;
  padding: 30px;
  background: white;
  box-sizing: border-box;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
}

.auth-break {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-break hr {
  width: 128px;
  border: 1px solid  #e0e0e0;
}

.auth-break p {
  margin: 25px 10px;
  color: #949494;
}

.auth-modal-input {
  height: 35px;
  width: 90%;
  border: 1px solid #b8b8b8;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 6px 0;
  padding: 0 10px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.auth-modal-input::placeholder {
  color: #b8b8b8;
  font-family: 'Montserrat', sans-serif;
}

.auth-errors {
  min-height: 10px;
  font-size: 12px;
  color: #ff8000;
}

.signup-clause {
  color: #949494;
  font-size: 12px;
  text-align: center;
  margin-top: 7px;
}

.signup-clause a {
  color: #adadad;
}

.auth-modal-submit {
  background-color: #7f00ff;
  border: 0;
  border-radius: 10px;
  height: 50px;
  width: 90%;
  color: white;
  margin: 15px 0;
  padding: 0 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-modal-submit:hover {
  cursor: pointer;
}

.forgot {
  color: #949494;
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.forgot-link {
  color: #7f00ff;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}



/*******************************************
splash
*******************************************/

/* break point at 1025px */

.splash {

}

.splash-nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #e3e3e3;
  background: white;
  box-sizing: border-box;
  z-index: 2;
}

.splash-nav {
  width: 1150px;
  height: 95px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

}

.splash-nav-left {
  display: flex;
}

.splash-nav-left ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding-left: 50px;
  font-size: 13px;
}

.splash-nav-branding {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-nav-branding h1 {
  color: #7f00ff;
  font-family: 'Arvo', serif;
  font-weight: bold;
  padding-left: 7px;
  font-size: 20px;
}

.splash-nav-branding-img {
  background-image: url(purplenote_icon.png);
  background-size: cover;
  width: 45px;
  height: 45px;
  margin-left: 10px;
}

.github {
  background-image: url(github_icon.png);
  height: 30px;
  width: 30px;
  background-size: cover;
  opacity: 0.5;
}

.linkedin {
  background-image: url(linkedin_box.png);
  height: 26px;
  width: 26px;
  background-size: cover;
  opacity: 0.5;
}

.miles {
  background-image: url(mm_logo_v2.png);
  height: 28px;
  width: 25px;
  background-size: cover;
  opacity: 0.5;
}

.splash-nav-right {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.splash-link {
  margin-top: 5px;
  color: black;
  text-decoration: none;
  font-size: 13px;
  margin-right: 30px;
}

.splash-nav-button {
  border: 2px solid black;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  color: black;
  margin: 15px 0;
  padding: 0 10px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
}

.splash-change-button-purple {
  transition: all 0.3s ease;
  background-color: #7f00ff;
  color: white;
  border: none;
}

.splash-change-button-back {
  transition: all 0.2s ease;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.splash-change-link {
  margin-right: -60px;
  opacity: 1;

}

.splash-change-link-move {
  transition: margin-right, 0.5s ease;
  margin-right: 30px;
}

.splash-change-link-disappear {
  transition: opacity 0.4s ease;
  opacity: 0;
}

.splash-change-link-slide {
  transition: all 0.3s ease;
  margin-right: -60px;
}

.hamburger-icon {
  display: none;
}

.splash-nav-dropdown {
  display: none;
  position: fixed;
  background: white;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 300px;
  opacity: 0;
}

.splash-nav-dropdown ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.splash-nav-dropdown li {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.splash-nav-dropdown li:first-of-type {
  justify-content: space-around;
}

.x {
  height: 20px;
  width: 20px;
  background-size: cover;
  background-image: url(x.png);
  margin-top: 38px;
  cursor: pointer;
}

.splash-nav-dropdown-show {
  display: block;
  z-index: 3;
}

.splash-nav-dropdown-transition {
  transition: opacity 0.2s ease;
  opacity: 1;
}

.splash-nav-dropdown-transition-back {
  transition: opacity 0.2s ease;
  opacity: 0;
}

.dropdown-blur {
  display: none;
  background: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
}

.dropdown-blur-show {
  display: block;
}

.dropdown-blur-transition {
  transition: opacity 0.2s ease;
  opacity: 0.3;
}

.dropdown-blur-transition-back {
  transition: opacity 0.2s ease;
  opacity: 0;
}

@media all and (max-width: 1025px) {

  .github, .linkedin, .miles, .splash-nav-right {
    display: none;
  }

  .hamburger-icon {
    background-image: url(hamburger_icon.png);
    height: 40px;
    width: 40px;
    background-size: cover;
    display: block;
    position: fixed;
    right: 40px;
    cursor: pointer;
  }

  .github-d {
    background-image: url(github_icon.png);
    height: 40px;
    width: 40px;
    background-size: cover;
  }

  .linkedin-d {
    background-image: url(linkedin_box.png);
    height: 35px;
    width: 35px;
    background-size: cover;
  }

  .miles-d {
    background-image: url(mm_logo_v2.png);
    height: 40px;
    width: 35px;
    background-size: cover;
  }

  .splash-link-d {
    margin-top: 40px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    margin-right: 30px;
  }

}

.splash-body-container {
  position: absolute;
  top: 96px;
  width: 100%;
  /*background: blue;*/
  height: 100%;
  display: flex;
  justify-content: center;
}

.splash-body {
  width: 1150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  /*background: lightblue;*/
}

.splash-signup {
  display: flex;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
  margin: 125px 0px;
}

.splash-signup-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  border-right: 1px solid #e3e3e3;
}

.main-header {
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 72px;
  margin-bottom: 30px;
  text-align: left;
  line-height: 1.2;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 450px;
}

.splash-signup-header p {
  font-family: 'Arvo', serif;
  color: #303030;
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  margin-right: 50px;
}

.splash-signup-form {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  box-sizing: border-box;
}

.splash-signup-form h2 {
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 28px;
  margin-bottom: 30px;
  text-align: left;
  line-height: 1.2;
  width: 350px;
  display: block;
}

.splash-signup-break {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.splash-signup-break hr {
  width: 200px;
  border: 1px solid  #e0e0e0;
}

.splash-signup-break p {
  margin: 20px 10px;
  color: #949494;
  font-size: 12px;
}

.splash-signup-input {
  width: 350px;
  height: 45px;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
  background-color: whitesmoke;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.splash-signup-input::placeholder {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.splash-signup-form-demo{
  width: 350px;
  height: 45px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  color: black;
  padding: 0 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-signup-form-demo:hover {
  cursor: pointer;
}

.splash-signup-form-submit:hover {
  cursor: pointer;
}

.splash-signup-form-submit {
  width: 350px;
  height: 45px;
  background: #7f00ff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border: none;
}

.splash-signup-errors {
  min-height: 10px;
  font-size: 12px;
  color: #ff8000;
  margin-bottom: 10px;
}

.splash-signup-clause {
  width: 350px;
  font-size: 11px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.why-purplenote {
  width: 100%;
  position: absolute;
  top: 800px;
}

.pitch-zone {
  width: 100%;
  flex-direction: column;
}

.pitch {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.pitch-text {
  width: 375px;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: left
}

.pitch-text h2 {
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
  text-align: left;
  line-height: 1.2;
  width: 350px;
  display: block;
}

.pitch-text p {
  font-family: 'Arvo', serif;
  color: #303030;
  text-align: left;
  font-size: 15px;
  line-height: 1.5;
  margin-right: 50px;
  margin-bottom: 30px;
}

.pitch-text a {
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

[class*='purple-underline'] {
  height: 2px;
  width: 193px;
  border: none;
  background: #7f00ff;
}

.purple-underline-2 {
  width: 251px;
}

[class*='pitch-img-'] {
  width: 375px;
  height: 375px;
  border-radius: 50%;
  margin: 0 50px;
}

.pitch-img-1 {
  background-image: url(new_heights.png);
  background-size: 140%;
  background-position-x: -5px;
  background-position-y: -160px;
}

.pitch-img-2 {
  background-image: url(organize.png);
  background-size: cover;
}

.pitch-img-3 {
  background-image: url(teamwork.png);
  background-size: cover;
}

.final-signup-div {
  position: absolute;
  top: 1375px;
  width: 100%;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.final-signup-div h2 {
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.2;
  width: 350px;
  display: block;
}

.final-link-button {
  width: 200px;
  height: 60px;
  background: #7f00ff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 40px;
  text-decoration: none;
}

.splash-footer {
  position: relative;
  top: 2771px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-nav {
  display: flex;
  width: 600px;
  justify-content: space-between;
}

.footer-nav div {
  opacity: 0.5;
}

@media all and (max-width: 948px) {

  [class*='pitch-img'] {
    display: none;
  }

  .splash-signup {
    flex-wrap: wrap;
  }

  .main-header{
    text-align: center;
  }

  .pitch-zone {
    position: relative;
    top: 260px;
  }

  .pitch, .splash-signup-header, .splash-signup-form {
    width: 100%;
  }

  .pitch-text {
    align-items: center;
  }

  .pitch-text h2 {
    text-align: center;
    font-size: 28px;
  }
  .pitch-text p {
    text-align: center;
  }
  .pitch-text a {
    text-align: center;
  }

  .splash-signup-form {
    margin-left: 0;
  }

  .splash-footer {
    display: none;
  }

  .final-signup-div {
    top: 1075px;
    height: 300px;
    background: white;
  }
  .final-signup-div h2 {
    margin-bottom: 5px;
  }

}


@media all and (max-width: 420px) {

  .main-header {
    font-size: 62px;
  }

}

/*******************************

BarNav

*******************************/

.home {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
}

.side-bar {
  transition: left 0.3s ease, opacity 0.05s ease;
  display: flex;
  position: relative;
  left: 0;
  width: 425px;
  padding: 0px;
  margin: 0;
}

.side-bar-hidden {
  left: -450px;
  opacity: 0
}

.side-bar-show {
  left: 0px;
}

/*******************************

BarNav

*******************************/

.selected-nav-button {
  border: 1px solid #7f00ff !important;
}

.bar-nav {
  transition: all 0.3s ease;
  left: 0;
  height: 100%;
  width: 75px;
  border-right: 1px solid #e0e0e0;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 500;
}

.bar-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.bar-nav-button-list-1 li {
  width: 40px;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center
}


[class*='bar-nav-button-list'] li {
  margin-bottom: 30px;
}

.bar-nav-user-info {
  margin-top: 100px;
}

.bar-nav-button-new-note {
  background-image: url('sprite.png');
  background-size: 400%;
  background-position-x: -100px;
  background-position-y: -20px;
}

.bar-nav-button-search {
  background-image: url('sprite.png');
  background-size: 400%;
  background-position-x: -100px;
  background-position-y: -179px;
}

[class*='hover-bar-nav-button'] {
  width: 40px;
  height: 40px;
  background-image: url('sprite.png');
  background-size: 400%;
  opacity: 0;
  border: 1px solid #7f00ff;
  border-radius: 50%;
  position: absolute;
}

.hover-bar-nav-button-new-note {
  background-position-x: -100px;
  background-position-y: -100px;
}

.hover-bar-nav-button-search {
  background-position-x: -100px;
  background-position-y: -259px;
}

.bar-nav-button-list-2 li {
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-nav-button-shortcuts {
  background-image: url('sprite.png');
  background-size: 400%;
  background-position-y: -80px;
  top: 300px;
}

.bar-nav-button-notes {
  background-image: url('sprite.png');
  background-size: 400%;
  background-position-y: -120px;
  top: 370px;
}

.bar-nav-button-notebooks {
  background-image: url('sprite.png');
  background-size: 400%;
  background-position-y: -160px;
  top: 440px;
}

.bar-nav-button-tags {
  background-image: url('sprite.png');
  background-size: 400%;
  background-position-y: -200px;
  top: 510px;
}

.hover-bar-nav-button-shortcuts {
  background-position-x: -40px;
  background-position-y: -80px;
}

.hover-bar-nav-button-notes {
  background-position-x: -40px;
  background-position-y: -120px;
}

.hover-bar-nav-button-notebooks {
  background-position-x: -40px;
  background-position-y: -160px;
}

.hover-bar-nav-button-tags {
  background-position-x: -40px;
  background-position-y: -200px;
}

[class*='hover-bar-nav-button'] {
  transition: opacity 0.1s ease;
}

[class*='hover-bar-nav-button']:hover {
  opacity: 1;
}

[class*='bar-nav-button'] > li:hover {
  cursor: pointer;
}

[class*='bar-nav-button'] li:hover {
  background: #7f00ff;
}
/*******************************

NotesNav

*******************************/

.notes-nav-container {
  height: 100%;
  width: 350px;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
}

.plain-notes-header {
  width: 100%;
  height: 95px;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 25px;
  box-sizing: border-box;
  padding-top: 10px;
  top: 0;
}

.trash-notes-header {
  width: 100%;
  height: 220px;
  border-bottom: 1px solid #e0e0e0;
  top: 0;
}

.trash-notes-title {
  width: 100%;
  height: 150px;
  background-color: #3B3C45;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trash-notes-title h4 {
  font-family: 'Arvo', serif;
  font-size: 28px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*.trash-notes-header p {

}*/

.notebook-notes-header {
  width: 100%;
  height: 220px;
  border-bottom: 1px solid #e0e0e0;
  top: 0;
}

.notebook-notes-title {
  width: 100%;
  height: 150px;
  background-color: #3B3C45;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.notebook-notes-title h4 {
  font-family: 'Arvo', serif;
  font-size: 20px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.notebook-info-link {
  font-family: 'Arvo', serif;
  color: #cccccc;
  font-size: 15px;
  position: absolute;
  left: 370px;
  top: 15px;
  height: 20px;
  width: 20px;
  border: 2px solid #cccccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notebook-info-link:hover {
  cursor: pointer;
}

.notebook-info-modal {
  transition: opacity 0.4s ease;
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  z-index: 1500;
}

.notebook-info-modal-show {
  display: flex;
}

.notebook-info-modal form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.notebook-info-modal li {
  color: #7f00ff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px;
}

.notebook-info-modal-fade-in {
  transition: opacity 0.4s ease;
  opacity: 1;
}

.notebook-info-icon {
}

.notebook-info-modal h4 {
  color: #5E5E5E;
  padding-top: 14%;
}

.empty-trash {
  width: 120px;
  color: #7f00ff;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #2C2C33;
  border: 1px solid black;
  cursor: pointer;
}

.plain-notes-header h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 25px;
  color: #949494;
}

.plain-notes-header p, .trash-notes-header p,
.notebook-notes-header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #ADADAD;
}

.trash-notes-header p,
.notebook-notes-header p {
  position: relative;
  left: 20px;
  top: 20px;
}

.sort-dropdown-link {
  position: relative;
  left: 240px;
  top: -14px;
}

#alt-dropdown-link {
  position: relative;
  left: 240px;
  top: 5px;
}

#alt-dropdown-link:hover {
  cursor: pointer;
}

#alt-sort-options {
  left: 300px;
  top: 189px;
}

.sort-dropdown-link:hover {
  cursor: pointer;
}

.sort-options {
  display: none;
  position: fixed;
  left: 325px;
  top: 88px;
  z-index: 5;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #808080;
  box-shadow: 6px 5px 28px -5px #bdbdbd;
  padding: 10px 0;
}

.show-sort-options {
  display: block;
}

.sort-options li {
  transition: all 0.2s ease;
  padding: 12px 15px;
}

.sort-options span {
  display: none;
  padding-left: 20px;
}

.sort-options li:hover {
  cursor: pointer;
  color: white;
  background: #7f00ff;
}

.sort-options-selected span {
  display: inline-block;
}

.notes-nav {
  height: 90%;
  width: 350px;
  top: 95px;
  border-right: 1px solid #e0e0e0;
  overflow-y: scroll;
}

.notes-nav-item {
  transition: background-color 0.1s ease-out,
  color 0.1s ease-out;
  background-color: white;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 25px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
}

.selected-note {
  border: 3px solid #D9D9D9;
  padding-left: 22px;
  padding-top: 7px;
}

.selected-note:hover {
  border: 3px solid #7f00ff;
}

.notes-nav-item:hover {
  background-color: #7f00ff;
}

.notes-nav-item:hover .notes-nav-item-title {
  width: 53%;
}

.notes-nav-item:hover h3, .notes-nav-item:hover p {
  color: white;
}

.notes-nav-item-header {
  width: 100%;
  height: 28px;
  display: inline-block;
}

.notes-nav-item-title {
  transition: width 0.1s ease;
  font-weight: normal;
  font-family: 'Arvo', serif;
  color: #808080;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 5px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

.notes-nav-item-trash {
  transition: opacity 0.15s ease;
  background-image: url(sprite.png);
  width: 25px;
  height: 25px;
  background-image: url('trash-sprite.png');
  background-size: 180%;
  background-position-y: 0px;
  background-position-x: -3px;
  display: none;
  color: white;
  z-index: 5;
  position: relative;
  top: -32px;
  left: 220px;
  opacity: 0;
}

.notes-nav-item-trash:hover {
  background-position-y: -37px;
}

.notes-nav-item-shortcut {
  transition: opacity 0.4s ease;
  background-image: url(sprite.png);
  width: 25px;
  height: 25px;
  background-image: url('trash-sprite.png');
  background-size: 180%;
  background-position-y: -143px;
  background-position-x: -5px;
  display: none;
  color: white;
  z-index: 5;
  position: relative;
  top: -34px;
  left: 200px;
  opacity: 0;
}

.notes-nav-item-shortcut:hover {
  background-position-y: -180px;
}

.notes-nav-item:hover .notes-nav-item-shortcut {
  display: inline-block;
  opacity: 1;
}

.notes-nav-item:hover .notes-nav-item-trash {
  display: inline-block;
  opacity: 1;
}

.notes-nav-item:hover .erase-note {
  display: inline-block;
  opacity: 1;
}

.notes-nav-item:hover .restore-note {
  display: inline-block;
  opacity: 1;
}

.erase-note, .restore-note {
  display: none;
  transition: opacity 0.4s ease;
  opacity: 0;
  padding: 4px 6px;
  color: white;
  border: 1px solid white;
  background: none;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  position: relative;
  top: -33px;
  opacity: 0;
}

.erase-note {
  left: 180px;
}

.restore-note {
  left: 200px;
}

.erase-note:hover, .restore-note:hover {
  color: #7f00ff;
  background: white;
}

.notes-nav-item-date {
  color: #949494;
  font-size: 11px;
  padding-bottom: 10px
}

.notes-nav-item-content {
  width: 100%;
  font-size: 14px;
  color: #949494;
  height: 43px;
  display: block;
  overflow: hidden;
  display: block;
}


/*******************************

NoteBody

*******************************/

.no-notes {
  transition: left 0.3s ease;
  height: 100%;
  background-color: whitesmoke;
  display: block;
  position: absolute;
  left: 425px;
  min-width: 425px;
  right: 0px;
}

.note-body {
  transition: left 0.3s ease;
  height: 100%;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  display: block;
  position: absolute;
  left: 425px;
  min-width: 425px;
  right: 0px;
}

.full-screen {
  left: 0px;
}

.note-content-form {
  height: 100%;
  width: 80%;
  margin: 45px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.notebook-dropdown-container {
  position: relative;
}

.select-notebook-dropdown-link {
  position: relative;
  top: -10px;
  color: #808080;
  font-size: 12px;
}

.select-notebook-dropdown-link:hover {
  cursor: pointer;
}

.select-notebook-options {
  display: none;
}

.show-select-notebook-options {
  display: block;
  position: absolute;
  left: -12px;
  top: 8px;
  z-index: 5;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #808080;
  box-shadow: 6px 5px 28px -5px #bdbdbd;
  padding: 10px 0;
}

.select-notebook-options li {
  transition: all 0.2s ease;
  width: 200px;
  padding: 12px 15px;
}

.select-notebook-options span {
  display: none;
  padding-left: 20px;
}

.select-notebook-options li:hover {
  cursor: pointer;
  color: white;
  background: #7f00ff;
}

.select-notebook-options-selected span {
  display: inline-block;
}

.note-content-form-title {
  width: 100%;
  border: 0;
  height: 80px;
  font-family: 'Arvo', serif;
  color: #7f00ff;
  font-size: 30px;
  outline-style: none;
  box-sizing: border-box;
  border-top: 1px solid #e0e0e0;
}

.note-content-form-title::placeholder {
  color: #7f00ff;
}

.note-content-form textarea {
  width: 100%;
  height: 100%;
  border: 0;
  color: #4d4d4d;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  outline-style: none;
  box-sizing: border-box;
  margin-bottom: 100px;
}

/************************************

NotesHeader

************************************/

.note-header-container {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-header-trash {
  transition: opacity 0.15s ease;
  width: 26px;
  height: 26px;
  background-image: url('sprite.png');
  background-size: 800%;
  background-position-y: -379px;
  background-position-x: -13px;
  z-index: 5;
  margin-left: 30px;
}

.note-header-trash:hover {
  background-position-x: -65px;
  cursor: pointer;
}


.note-header-shortcut {
  transition: opacity 0.4s ease;
  width: 25px;
  height: 25px;
  background-image: url('sprite.png');
  background-size: 760%;
  background-position-y: -437px;
  background-position-x: -11px;
  z-index: 5;
  margin-left: 30px;
}

.note-options {
  transition: opacity 0.8s ease;
  position: relative;
  display: flex;
}

.note-header-shortcut:hover {
  background-position-x: -59px;
  cursor: pointer;
}

.note-options-slide {
  left: -150px;
  opacity: 0;
}

.fullscreen-button, .exit-fullscreen-button, .save-note-button {
  width: 80px;
  height: 30px;
  color: white;
  background: #7f00ff;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin-right: 10px;
}

.fullscreen-button:hover, .exit-fullscreen-button:hover, .save-note-button:hover {
  cursor: pointer;
}

/*****************************

SecondaryNav

*****************************/

.secondary-nav-container {
  transition: left 0.5s ease;
  height: 100%;
  width: 455px;
  position: absolute;
  left: -385px;
  z-index: 299;
  border-right: 3px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  background: white;
}

.secondary-nav-container-show {
  z-index: 300;
  left: 73px;
}

.secondary-nav-background {
  transition: opacity 0.5s ease;
  position: fixed;
  z-index: -200;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.secondary-nav-background-show {
  z-index: 200;
  background: white;
  opacity: .9
}

.secondary-nav-totality {
  z-index: 1000;
  background: white;
  opacity: 1;
}

/*****************************

NotebookItem

*****************************/

.notebook-item {
  transition: background-color 0.1s ease-out,
  color 0.1s ease-out;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 25px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.notebooks-header {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 25px;
  box-sizing: border-box;
  padding-top: 10px;
  top: 0;
}

.notebooks-header h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 25px;
  color: #949494;
}

.new-notebook-button {
  position: relative;
  width: 17px;
  left: 350px;
  top: -45px;
}

.selected-notebook {
  background: #cccccc;
}

.notebook-item:hover .notebook-item-title,
.notebook-item:hover .notebook-item-count,
.notebook-trash:hover {
  color: white;
}

.notebook-item:hover .notebook-item-title {
  width: 80%;
}

.notebook-item:hover, .notebook-trash:hover {
  background: #7f00ff;
}

.notebook-item-title {
  transition: width 0.1s ease;
  font-weight: normal;
  font-family: 'Arvo', serif;
  color: #808080;
  text-align: left;
  font-size: 16px;
  line-height: 1;
  padding-bottom: 5px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}

.notebook-item-count {
  color: #949494;
  font-size: 11px;
  padding-bottom: 5px
}

.notebook-item-shortcut {
  height: 25px;
  width: 25px;
  display: none;
  position: absolute;
  left: 360px;
  top: 17px;
  background-image: url('trash-sprite.png');
  background-size: 180%;
  background-position-y: -143px;
  background-position-x: -5px;
}

.notebook-item-trash {
  height: 25px;
  width: 25px;
  display: none;
  position: absolute;
  left: 400px;
  top: 19px;
  background-image: url('trash-sprite.png');
  background-size: 180%;
  background-position-y: 0px;
  background-position-x: -3px;
}

.notebook-item-trash:hover {
  background-position-y: -37px;
}

.notebook-item-shortcut:hover {
 background-position-y: -180px;
}

.notebook-item:hover .notebook-item-trash,
.notebook-item:hover .notebook-item-shortcut {
  display: block;
}

.notebook-trash {
  transition: background-color 0.1s ease-out,
  color 0.1s ease-out;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #808080;
  background-color: white;
  padding: 10px 25px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

/*****************************

NewNotebookModal

*****************************/

.new-notebook-modal, .delete-notebook-modal, .new-tag-modal,
.delete-tag-modal {
  transition: opacity 0.4s ease;
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  z-index: 1500;
}

.new-notebook-modal-show {
  display: flex;
}

.new-notebook-modal form, .new-tag-modal form{
  margin-top: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.new-notebook-modal-fade-in {
  transition: opacity 0.4s ease;
  opacity: 1;
}

.new-notebook-form-icon {
}

.new-notebook-modal h4, .delete-notebook-modal h4,
.new-tag-modal h4, .delete-tag-modal h4 {
  color: #5E5E5E;
}

.delete-query {
  padding: 30px 0px;
}

.delete-notebook-modal, .delete-tag-modal {
  padding: 15% 0;
}

.delete-notebook-modal h1, .delete-tag-modal h1 {
  color: black;
  font-family: 'Arvo', serif;
  font-size: 30px;
  display: inline;
}

.delete-notebook-modal p, .delete-tag-modal p {
  color: black;
  font-family: 'Arvo', serif;
  font-size: 30px;
  display: inline;
  font-weight: bold;
}




.new-notebook-modal hr, .delete-notebook-modal hr, .notebook-info-modal hr,
.new-tag-modal hr, .delete-tag-modal hr {
  margin-top: 25px;
  width: 128px;
  border: 1px solid  #e0e0e0;
}

.notebook-form-title {
  width: 100%;
  border: 0;
  height: 80px;
  font-family: 'Arvo', serif;
  color: black;
  font-size: 34px;
  outline-style: none;
  box-sizing: border-box;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
}

.notebook-form-title-empty {
  text-align: left;
  width: 340px;
}

.notebook-form-title::placeholder {
  color: #cccccc;
  text-align: center;
}

.form-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.modal-submit {
  transition: opacity 0.3s ease;
  width: 180px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #7f00ff;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.modal-submit-empty {
  opacity: 0.6;
  cursor: default;
}

.modal-form-errors {
  transition: opacity 0.2s ease;
  opacity: 0;
  position: absolute;
  background: #FFB412;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  height: 18px;
  border-radius: 18px;
  margin-top: 10px;
  padding: 10px 50px 8px 50px;;
}

.modal-form-errors-show {
  opacity: 1;
}

.modal-cancel {
  background-color: #cccccc;
  margin-right: 10px;
}

/*****************************

TagsNav

*****************************/

.tags-nav h3 {
  margin-top: 30px;
  margin-left: 30px;
  color: #707070;
  font-size: 12px;
}

.tags-nav-item, .tags-nav-item-selected  {
  display: block;
}

.tags-nav-item-selected div {
  border: 1px solid #7f00ff;
}

.tags-nav-item-info {
  margin: 10px 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  border: 1px solid #cccccc;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 8px 8px 0 8px;
  color: #4d4d4d;
  display: inline-block;
  height: 21px;
  max-width: 150px;
  transition: max-width 0.5s ease,
  width 0.5s ease,
  background-color 0.3s ease-in;
  overflow: hidden;
  white-space: nowrap;
}

.tags-nav-item-info:hover {
  color: white;
  background-color: #7f00ff;
}

.edit-tag-form {
  margin: 10px 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  border: 1px solid #cccccc;
  background: whitesmoke;
  border-radius: 5px;
  padding: 0 8px;
  line-height: 1;
  color: #4d4d4d;
  height: 29px;
  width: 340px;
  display: none;
}

.edit-tag-form:focus {
  outline: none;
}

.edit-tag-form-show {
  display: inline-block
}

.tags-nav-item-info-slide {
  max-width: 340px;
  width: 340px;
  background-color: #7f00ff;
}

.tags-nav-item-info p {
  margin-left: 20px;
  color: #7f00ff;
  display: inline;
}

.tags-nav-item-info:hover p {
  color: white;
}

.tags-nav-item-info-slide h4 {
  color: white;
}

.tags-nav-item-info-slide p {
  display: none;
}

.tags-nav-item-info:hover {
  cursor: pointer;
}

.tags-nav-item:hover span {
  display: inline;
}

.tags-no-show-on-hover:hover span {
  display: none;
}

[class*='tag-icon-'] {
  display: none;
  position: relative;
  top: -20px;
}

.tag-icon-star {
  left: 5px;
}

.tag-icon-edit {
  left: 20px;
}

.tag-icon-trash {
  left: 35px;
}

.hide-tag-elements {
  display: none;
}

.submit-tag-edit {
  height: 20px;
  width: 20px;
  display: none;
  position: relative;
  background: #BDBDBD;
  left: 400px;
  top: -34px;
  border-radius: 50%;
}

.submit-tag-edit:hover {
  cursor: pointer;
}

.show-submit-tag-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 12px;
}
