/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*******************************************
 modals
 *******************************************/

body {
  font-family: 'Montserrat', sans-serif;
}

.dummy-logout {
  background-color: #7f00ff;
  border: 0;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  color: white;
  margin: 15px 0;
  padding: 0 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}

.purple-bar {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0px;
  background-color: #7f00ff;
}

.auth-modal-wrapper {
  background: whitesmoke;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.auth-logo {
  background-image: url(purplenote_icon.png);
  background-size: cover;
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.auth-modal-wrapper h1 {
  margin-bottom: 35px;
  font-size: 32px;
  font-family: 'Arvo', serif;
  color: #8f8f8f;
}

.auth-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 390px;
  padding: 30px;
  background: white;
  box-sizing: border-box;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
}

.auth-break {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-break hr {
  width: 128px;
  border: 1px solid  #e0e0e0;
}

.auth-break p {
  margin: 25px 10px;
  color: #949494;
}

.auth-modal-input {
  height: 35px;
  width: 90%;
  border: 1px solid #b8b8b8;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 6px 0;
  padding: 0 10px;
  font-size: 18px;
}

.auth-modal-input::placeholder {
  color: #b8b8b8;
  font-family: 'Montserrat', sans-serif;
}

.auth-errors {
  min-height: 10px;
  font-size: 12px;
  color: #ff8000;
}

.signup-clause {
  color: #949494;
  font-size: 12px;
  text-align: center;
  margin-top: 7px;
}

.signup-clause a {
  color: #adadad;
}

.auth-modal-submit {
  background-color: #7f00ff;
  border: 0;
  border-radius: 10px;
  height: 50px;
  width: 90%;
  color: white;
  margin: 15px 0;
  padding: 0 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-modal-submit:hover {
  cursor: pointer;
}

.forgot {
  color: #949494;
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.forgot-link {
  color: #7f00ff;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}



/*******************************************
splash
*******************************************/

/* break point at 1025px */

.splash {

}

.splash-nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #e3e3e3;
  background: white;
  box-sizing: border-box;
  z-index: 2;
}

.splash-nav {
  width: 1150px;
  height: 95px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

}

.splash-nav-left {
  display: flex;
}

.splash-nav-left ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding-left: 50px;
  font-size: 13px;
}

.splash-nav-branding {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-nav-branding h1 {
  color: #7f00ff;
  font-family: 'Arvo', serif;
  font-weight: bold;
  padding-left: 7px;
  font-size: 20px;
}

.splash-nav-branding-img {
  background-image: url(purplenote_icon.png);
  background-size: cover;
  width: 45px;
  height: 45px;
  margin-left: 10px;
}

.github {
  background-image: url(github_icon.png);
  height: 30px;
  width: 30px;
  background-size: cover;
  opacity: 0.5;
}

.linkedin {
  background-image: url(linkedin_box.png);
  height: 26px;
  width: 26px;
  background-size: cover;
  opacity: 0.5;
}

.miles {
  background-image: url(mm_logo_v2.png);
  height: 28px;
  width: 25px;
  background-size: cover;
  opacity: 0.5;
}

.splash-nav-right {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.splash-link {
  margin-top: 5px;
  color: black;
  text-decoration: none;
  font-size: 13px;
  margin-right: 30px;
}

.splash-nav-button {
  border: 2px solid black;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  color: black;
  margin: 15px 0;
  padding: 0 10px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
}

.splash-change-button-purple {
  transition: all 0.3s ease;
  background-color: #7f00ff;
  color: white;
  border: none;
}

.splash-change-button-back {
  transition: all 0.2s ease;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.splash-change-link {
  margin-right: -60px;
  opacity: 1;

}

.splash-change-link-move {
  transition: margin-right, 0.5s ease;
  margin-right: 30px;
}

.splash-change-link-disappear {
  transition: opacity 0.4s ease;
  opacity: 0;
}

.splash-change-link-slide {
  transition: all 0.3s ease;
  margin-right: -60px;
}

.hamburger-icon {
  display: none;
}

.splash-nav-dropdown {
  display: none;
  position: fixed;
  background: white;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 300px;
  opacity: 0;
}

.splash-nav-dropdown ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.splash-nav-dropdown li {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.splash-nav-dropdown li:first-of-type {
  justify-content: space-around;
}

.x {
  height: 20px;
  width: 20px;
  background-size: cover;
  background-image: url(x.png);
  margin-top: 38px;
  cursor: pointer;
}

.splash-nav-dropdown-show {
  display: block;
  z-index: 3;
}

.splash-nav-dropdown-transition {
  transition: opacity 0.2s ease;
  opacity: 1;
}

.splash-nav-dropdown-transition-back {
  transition: opacity 0.2s ease;
  opacity: 0;
}

.dropdown-blur {
  display: none;
  background: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
}

.dropdown-blur-show {
  display: block;
}

.dropdown-blur-transition {
  transition: opacity 0.2s ease;
  opacity: 0.3;
}

.dropdown-blur-transition-back {
  transition: opacity 0.2s ease;
  opacity: 0;
}

@media all and (max-width: 1025px) {

  .github, .linkedin, .miles, .splash-nav-right {
    display: none;
  }

  .hamburger-icon {
    background-image: url(hamburger_icon.png);
    height: 40px;
    width: 40px;
    background-size: cover;
    display: block;
    position: fixed;
    right: 40px;
    cursor: pointer;
  }

  .github-d {
    background-image: url(github_icon.png);
    height: 40px;
    width: 40px;
    background-size: cover;
  }

  .linkedin-d {
    background-image: url(linkedin_box.png);
    height: 35px;
    width: 35px;
    background-size: cover;
  }

  .miles-d {
    background-image: url(mm_logo_v2.png);
    height: 40px;
    width: 35px;
    background-size: cover;
  }

  .splash-link-d {
    margin-top: 40px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    margin-right: 30px;
  }

}

.splash-body-container {
  position: absolute;
  top: 96px;
  width: 100%;
  /*background: blue;*/
  height: 100%;
  display: flex;
  justify-content: center;
}

.splash-body {
  width: 1150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  /*background: lightblue;*/
}

.splash-signup {
  display: flex;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
  margin: 125px 0px;
}

.splash-signup-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  border-right: 1px solid #e3e3e3;
}

.main-header {
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 72px;
  margin-bottom: 30px;
  text-align: left;
  line-height: 1.2;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 450px;
}

.splash-signup-header p {
  font-family: 'Arvo', serif;
  color: #303030;
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  margin-right: 50px;
}

.splash-signup-form {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  box-sizing: border-box;
}

.splash-signup-form h2 {
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 28px;
  margin-bottom: 30px;
  text-align: left;
  line-height: 1.2;
  width: 350px;
  display: block;
}

.splash-signup-break {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.splash-signup-break hr {
  width: 200px;
  border: 1px solid  #e0e0e0;
}

.splash-signup-break p {
  margin: 20px 10px;
  color: #949494;
  font-size: 12px;
}

.splash-signup-input {
  width: 350px;
  height: 45px;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
  background-color: whitesmoke;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.splash-signup-input::placeholder {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.splash-signup-form-demo{
  width: 350px;
  height: 45px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  color: black;
  padding: 0 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-signup-form-demo:hover {
  cursor: pointer;
}

.splash-signup-form-submit:hover {
  cursor: pointer;
}

.splash-signup-form-submit {
  width: 350px;
  height: 45px;
  background: #7f00ff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border: none;
}

.splash-signup-errors {
  min-height: 10px;
  font-size: 12px;
  color: #ff8000;
  margin-bottom: 10px;
}

.splash-signup-clause {
  width: 350px;
  font-size: 11px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.why-purplenote {
  width: 100%;
  position: absolute;
  top: 800px;
}

.pitch-zone {
  width: 100%;
  flex-direction: column;
}

.pitch {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.pitch-text {
  width: 375px;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: left
}

.pitch-text h2 {
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
  text-align: left;
  line-height: 1.2;
  width: 350px;
  display: block;
}

.pitch-text p {
  font-family: 'Arvo', serif;
  color: #303030;
  text-align: left;
  font-size: 15px;
  line-height: 1.5;
  margin-right: 50px;
  margin-bottom: 30px;
}

.pitch-text a {
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

[class*='purple-underline'] {
  height: 2px;
  width: 193px;
  border: none;
  background: #7f00ff;
}

.purple-underline-2 {
  width: 251px;
}

[class*='pitch-img-'] {
  width: 375px;
  height: 375px;
  border-radius: 50%;
  margin: 0 50px;
}

.pitch-img-1 {
  background-image: url(new_heights.png);
  background-size: 140%;
  background-position-x: -5px;
  background-position-y: -160px;
}

.pitch-img-2 {
  background-image: url(organize.png);
  background-size: cover;
}

.pitch-img-3 {
  background-image: url(teamwork.png);
  background-size: cover;
}

.final-signup-div {
  position: absolute;
  top: 1375px;
  width: 100%;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.final-signup-div h2 {
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.2;
  width: 350px;
  display: block;
}

.final-link-button {
  width: 200px;
  height: 60px;
  background: #7f00ff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 40px;
  text-decoration: none;
}

.splash-footer {
  position: relative;
  top: 2771px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-nav {
  display: flex;
  width: 600px;
  justify-content: space-between;
}

.footer-nav div {
  opacity: 0.5;
}

@media all and (max-width: 948px) {
  [class*='pitch-img'] {
    display: none;
  }

  .splash-signup {
    flex-wrap: wrap;
  }

  .main-header{
    text-align: center;
  }


  .pitch-zone {
    position: relative;
    top: -100px;
  }

  .pitch, .splash-signup-header, .splash-signup-form {
    width: 100%;
  }

  .pitch-text {
    align-items: center;
  }

  .pitch-text h2 {
    text-align: center;
    font-size: 28px;
  }
  .pitch-text p {
    text-align: center;
  }
  .pitch-text a {
    text-align: center;
  }

  .splash-signup-form {
    margin-left: 0;
  }

  .splash-footer {
    display: none;
  }

  .final-signup-div {
    top: 700px;
    height: 300px;
    background: white;
  }

  .final-signup-div h2 {
    margin-bottom: 5px;
  }

}

@media all and (max-width: 840px) {

  .pitch-zone {
    position: relative;
    top: 260px;
  }

  .final-signup-div {
    top: 1075px;
    height: 300px;
    background: white;
  }

}

@media all and (max-width: 420px) {

  .main-header {
    font-size: 62px;
  }

}

/*******************************

BarNav

*******************************/

.home {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*******************************

BarNav

*******************************/

.bar-nav {
  position: fixed;
  left: 0;
  height: 100%;
  width: 75px;
  border-right: 1px solid #e0e0e0;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-sizing: border-box;
}

.bar-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.bar-nav-button-list-1 li {
  width: 40px;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


[class*='bar-nav-button-list'] li {
  margin-bottom: 30px;
}

.bar-nav-user-info {
  margin-top: 300px;
}

/*******************************

NotesNav

*******************************/

.notes-nav-container {
  position: fixed;
  left: 75px;
  height: 100%;
  width: 350px;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
}

.plain-notes-header {
  width: 100%;
  height: 95px;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 25px;
  box-sizing: border-box;
  padding-top: 10px;
  top: 0;
}

.plain-notes-header h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 25px;
  color: #949494;
}

.plain-notes-header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #ADADAD;
}

.notes-nav {
  height: 90%;
  width: 350px;
  top: 95px;
  border-right: 1px solid #e0e0e0;
  overflow-y: scroll;
}

.selected-note {
  border: 5px solid black;
}

.notes-nav-item {
  transition: all 0.1s ease-out;
  background-color: white;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 25px;
  box-sizing: border-box;
  padding-top: 10px;
  cursor: pointer;
  position: relative;
}

.notes-nav-item:hover {
  background-color: #7f00ff;
}

.notes-nav-item:hover h3, .notes-nav-item:hover p {
  color: white;
}

.notes-nav-item-mouse-off {
  transition: all, 0.8s, ease;
  background-color: white;
}

.notes-nav-item-trash {
  color: white;
  margin-top: 5px;
  position: absolute;
  right: 40px;
  top: 8px;
}

.notes-nav-item-shortcut {
  color: white;
  margin-top: 5px;
  position: absolute;
  right: 80px;
  top: 8px;
}

.notes-nav-item-title {
  font-weight: normal;
  font-family: 'Arvo', serif;
  color: #808080;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 5px;
}

.notes-nav-item-date {
  color: #949494;
  font-size: 11px;
  padding-bottom: 10px
}

.notes-nav-item-content {
  font-size: 14px;
  color: #949494;
}


/*******************************

NoteBody

*******************************/

.note-body {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 426px;
  background: #7f00ff;
}

.note-header-container {
  width: 100%;
  background-color: red;
  height: 45px;
}
